<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:icon="@mipmap/ic_diagnostic_launcher"
        android:roundIcon="@mipmap/ic_diagnostic_launcher"
        android:label="@string/diagnostic_app_name"
        tools:replace="android:icon,android:roundIcon,android:label" />
</manifest>
